
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
 h1 {
    color: #333;
    font-size: 3rem;
    background-color: azure;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
 }