
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(to right, #00bcd4, #8e44ad); 
    color: #fff;
    line-height: 1.6;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


 h1 {
    color: #333;
    font-size: 3rem;
    background-color: azure;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
 }